.container {
  min-height: 1000vh;
  max-width: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
}

.headersInfo {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 0px 0.5rem;
}
